//Variables boolean
$enable-gradients: true;

// Variables colors
$light: #f3e9f1;
$orange: #e78b05;
$purple: #8f5bfe;

$bg-gradient: linear-gradient(to right, $orange, $purple);

// Variables sizes
$h1-font-size: 1.8rem;